<%- partial('submenu.ejs') %>
<div class="col-xs-10 col-xs-offset-1 ">
  <h2>Edit Photos</h2>

  <%- partial('../error.ejs') %>

  <div>
    Property: <%= property.address %>, <%= property.city %>
  </div>

  <form action="/addImage" method="post" enctype="multipart/form-data" class="form-horizontal container">
    <input type="hidden" name='id' value="<%= property.id %>" />
    <div class="form-group">
      <label class="control-label">File</label>
      <div>
        <input type="file" name="photo"/>
      </div>
    </div>
    <div class="form-group">
      <div>
        <button class="btn btn-default pull-left" type="submit" >Upload</button>
      </div>
    </div>

  </form>


  <% property.images.forEach(function(img){ %>
  <span class="col-xs-6 col-sm-4">
    <img src="/images/properties/<%= property.id +'/'+ img.url %>" class="img-thumbnail" />
    <a href="/deleteImage?id=<%= property.id %>&img=<%= img.id %>&imgUrl=<%= img.url %>">delete</a>
  </span>
  <% }) %>

</div>
