<section>

<%- partial('submenu.ejs') %>
<div class="container">
  <h2>
    All Properties
    <small class="pull-right">
        <small>
          <% if( req.param('active') == 'false' ) { %>
          <a href="/listProperties?active=true">Hide Inactive Properties</a>
          <% } else{ %>
          <a href="/listProperties?active=false">Show Inactive Properties</a>
          <% } %>
        </small>
    </small>
  </h2>

  <%- partial('../error.ejs') %>

  <table class="table ">

    <tr>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>List Price</th>
      <th>Bed</th>
      <th>Bath</th>
      <th></th>
    </tr>
    <% properties.forEach( function (property){ %>
    <tr>
      <td><%= property.address %></td>
      <td><%= property.city %></td>
      <td><%= property.state %></td>
      <td><%= property.zip %></td>
      <td><%= parseFloat(property.listPrice).toFixed(2) %></td>
      <td><%= property.bed %></td>
      <td><%= property.bath %></td>
      <td><a href="/editProperty?id=<%= property.id %> "> <span class="glyphicon glyphicon-edit"></span></a> </td>
    </tr>
    <% }) %>


  </table>

</div>

</section>
