<div class="container">

  <%- partial('error.ejs') %>

  <h4>Welcome, <%= req.session.name.charAt(0).toUpperCase() + req.session.name.slice(1).toLowerCase() %>!</h4>

  <% if(req.session.isAdmin){ %>
  <div class="col-xs-6 col-sm-4 text-center">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Property Management</h3>
      </div>
      <div class="list-group">

        <a href="listProperties" class="list-group-item">View Properties</a>
        <a href="addProperty"   class="list-group-item">Add New Property</a>
        <!-- <a href="editProfile?id=<%= req.session.me %>" class="list-group-item">Edit Profile</a> -->
        <!-- <a href="changePass?id=<%= req.session.me %>" class="list-group-item">Change Password</a> -->
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-sm-4 text-center">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">User Management</h3>
      </div>
      <div class="list-group">

        <a href="listUsers" class="list-group-item">View Users</a>
        <a href="addUser"   class="list-group-item">Add New User</a>
        <a href="listRoles" class="list-group-item">View Roles</a>
        <a href="addRole"   class="list-group-item">Add New Role</a>
        <!-- <a href="editProfile?id=<%= req.session.me %>" class="list-group-item">Edit Profile</a> -->
        <!-- <a href="changePass?id=<%= req.session.me %>" class="list-group-item">Change Password</a> -->
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-sm-4 text-center">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Admin</h3>
      </div>
      <div class="list-group">
        <div class="panel-heading">
          Storage Used: <span id='storage'></span>
        </div>
      </div>
    </div>
  </div>
<% } %>
</div>

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function(event) {
    $.getJSON("getStorage", function(result){
      var sizeInMB = result.size/1024/1024;
      $("#storage").text(sizeInMB.toFixed(2) + 'MB/1024MB' );
    });
  });


</script>
