<%- partial('submenu.ejs') %>
<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
  <h2>Edit Profile</h2>

  <%- partial('../error.ejs') %>


  <form method="post" action="editProfile" class="form-horizontal">
    <input type="hidden" name="id" value="<%= user.id %>"/>
    <div class="form-group">
      <label class="control-label">Login</label>
      <div>
        <%= user.login %>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label">First Name</label>
      <div>
        <input type="text" name="f_name" class="form-control" placeholder="First Name" value="<%= user.f_name %>"  />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label">Last Name</label>
      <div>
        <input type="text" name="l_name" class="form-control" placeholder="Last Name" value="<%= user.l_name %>"  />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label">Email</label>
      <div>
        <input type="text" name="email" class="form-control" placeholder="Email" value="<%= user.email %>" required />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label">Roles</label>
      <div>
        <% user.roles.forEach( function (role) { %>
        <div class="checkbox">
          <label><%= role.role %></label>
        </div>
        <% }) %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-4">
        <button class="btn btn-default pull-right" type="submit" >Update Profile</button>
      </div>
    </div>

  </form>

</div>

<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    //form formatting
    $("span.input-group-addon").css('min-width','150px');
    $("div.input-group > input").css('min-width','150px');
    $("form > div > label").addClass("col-sm-4");
    $("form > div > div").addClass("col-sm-8");

    //init checkbox form values
    <% for(var i=0; i< user.roles.length; i++){ %>
      $("input[value='<%= user.roles[i].id  %>']").prop("checked", true);
      $("input[id='<%= user.roles[i].role  %>']").prop("value", "<%= user.roles[i].id %>");
    <% } %>

    //form validation
    $("#myForm").validate({
      rules: {
        password:{
          required: true,
          minlength: 8,
          maxlength: 20
        },
        password2:{
          equalTo: "#password",
          minlength: 8,
          maxlength: 20
        }
      }
    });
  });
  //handle checkbox form values
  function toggleCheckBox(elem){
    var add = document.getElementById(elem.value+"_add");
    var remove = document.getElementById(elem.value+"_remove");
    if(elem.checked){
      //add role
      add.value = elem.value;
      remove.value = null;
    }else{
      //remove role
      add.value= null;
      remove.value = elem.value;

    }
  }


</script>
