<section id="listings">

  <h2>Featured Listings</h2>
  <div class="row text-center">
    <% properties.forEach(function(prop){ %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="..." alt="...">
          <div class="caption">
            <h3><%= prop.city.toUpperCase() %></h3>
            <h4>$<%= prop.listPrice %></h4>
          </div>
        </div>
      </div>
    <% }); %>
  </div>
  <h2>Active Listings</h2>
  <div class="row text-center">
    <% properties.forEach(function(prop){ %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="..." alt="...">
          <div class="caption">
            <h4><%= prop.address.toUpperCase() %></h4>
            <h3><%= prop.city.toUpperCase() %></h3>
            <h4>$<%= prop.listPrice %></h4>
            <p><%= prop.bed %> bed |<%= prop.bath %> bath</p>
            <p><%= prop.sqft %>sq. ft.</p>
          </div>
        </div>
      </div>
    <% }); %>
  </div>



</div>


</section>
