<section id="listings">

  <h2>Featured Listings</h2>
  <div class="row text-center">
    <%
    if(featured.length > 0) {
      featured.forEach(function(feat){
    %>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="images/properties/<%= feat.id + '/' + feat.images[0].url %>" alt="<%= feat.images[0].filename %>" />
            <div class="caption">
              <h3><%= feat.city.toUpperCase() %></h3>
              <h4><%= numeral(feat.listPrice).format('$0,0.00') %></h4>
            </div>
          </div>
        </div>

    <%
      });
    }
    %>


  </div>
  <h2>Active Listings</h2>
  <% var propCount = 0 %>

    <% properties.forEach(function(prop){ %>

      <% if (propCount % 3 == 0) { %>
      <div class="row text-center">
      <% } %>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <a href="/view?id=<%= prop.id %>" >
              <% if (typeof prop.images[0] == 'undefined') { %>
                <img src="images/TBD.png" alt="TBD"/>
              <% } else { %>
                <img src="images/properties/<%= prop.id + '/' + prop.images[0].url %>" alt="<%= prop.images[0].filename %>" />
              <% } %>
            </a>
            <div class="caption">
              <h4><%= prop.address.toUpperCase() %></h4>
              <h3><%= prop.city.toUpperCase() %></h3>
              <% if (prop.listPrice != null ) { %>
              <h4><%= numeral(prop.listPrice).format('$0,0.00') %></h4>
              <% } %>
              <% if (prop.bed != null && prop.bath != null ) { %>
                <p><%= prop.bed %> bed | <%= prop.bath %> bath</p>
              <% } %>
              <% if (prop.sqft != null ) { %>
                <p><%= prop.sqft %> sq. ft.</p>
              <% } %>
            </div>
          </div>
        </div>
      <% propCount++ %>
      <% if (propCount % 3 == 0) { %>
      </div>
      <% } %>
    <% }); %>
  </div>



</div>


</section>
